* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
	font-family:'Myriad Pro','Vernada CE', 'Arial CE', 'Helvetica CE', Vernada, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;

}
::selection {
	background: transparent; /* Safari */
	}
::-moz-selection {
	background: transparent; /* Firefox */
}
#settings {
  position:fixed;
  top:0;
  right:0;
  margin:20px 20px 0 0;
}
input {
  border-bottom:2px dotted #555;

  width:50px;
}

#time {
  font-size:40px;
}
.shape {
  display:block;
  width:100px;
  height:100px;
  position:absolute;
  left:50px;
  top:50px;
  background:red;
  overflow:hidden;
  background:url('sheep1.png') 0 0 no-repeat;
  background-size:100% 100%;
}
#circle {
  display:block;
  width:50px;
  height:50px;
  position:absolute;
  left:250px;
  top:50px;
  border-radius:25px;
  background:blue;
  overflow:hidden;
}
.shape div, #circle div {
  position:absolute;
  width:33.33%;
  height:33.33%;
}


.zone {
  opacity:0;
}
.zone1 {
  top:0;
  left:0;
  background:red;
}
.zone2 {
  top:0;
  left:33.33%;
  background:green;
}
.zone3 {
  top:0;
  left:66.66%;
  background:blue;
}
.zone4 {
  top:33.33%;
  left:0;
  background:purple;
}
.zone5 {
  top:33.33%;
  left:33.33%;
  background:ping;
}
.zone6 {
  top:33.33%;
  left:66.66%;
  background:yellow;
}
.zone7 {
  top:66.66%;
  left:0;
  background:black;
}
.zone8 {
  top:66.66%;
  left:33.33%;
  background:cyan;
}
.zone9 {
  top:66.66%;
  left:66.66%;
  background:orange;
}




/******  Colision detection *******/
.colision {
  height: 100px;
  width: 100px;
  position: absolute;
}